* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 5px;
	width: 100vw;
	height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
}
.container {
	display: flex;
	justify-content: center;
	height: 50vh;
	align-items: center;
	flex-direction: column;
}
.button__container {
	display: flex;
}

.hide {
	display: none;
}
